* {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    display: none;
    /* display: flex;
    position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 179, 179, 0.2);
    align-items: center;
    justify-content: center;
}
.content-container {
    width: 1000px;
    height: 500px;
    background-color: rgb(226, 251, 251);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: rgb(8,143,143);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
} 
.wrapper {
    width: 70px;
    height: 32px;
    padding-left: 5px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.btn {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: 5px;
}
.close-btn {
    background-color: rgb(255, 59, 48) ;
}

.max-btn {
    background-color: rgb(76, 217, 100);
}
.min-btn {
    background-color: rgb(255, 204, 0);
}
.title h3 {
    display: inline-block;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.body {
    width: 1000px;
}

.option {
    width: 100%;
    height: 30px;
}
.option li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sample-code,
.theory {
    width: 1000px; /* Chiều rộng */
    height: 438px; /* Chiều cao */
    padding: 20px; /* Khoảng cách bên trong */
    box-sizing: border-box; /* Đảm bảo padding và border được tính trong tổng chiều rộng và chiều cao */
    overflow: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao */
    background-color: white; /* Màu nền nhẹ cho sự phân biệt */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Arial, sans-serif; /* Font chữ */
    position: absolute;
    top: 0;
}

.sample-code h3,
.theory h3 {
    font-size: 1.5em; /* Kích thước chữ của tiêu đề */
    margin-top: 0; /* Loại bỏ khoảng cách trên tiêu đề */
    margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
    color: #333; /* Màu chữ tiêu đề */
}

.sample-code p,
.theory p {
    font-size: 1em; /* Kích thước chữ của đoạn văn */
    line-height: 1.6; /* Khoảng cách giữa các dòng */
    margin-bottom: 15px; /* Khoảng cách dưới đoạn văn */
    color: #666; /* Màu chữ đoạn văn */
}

.sample-code ul,
.theory ul {
    list-style: disc; /* Dấu đầu dòng cho danh sách */
    padding-left: 20px; /* Khoảng cách bên trái cho danh sách */
    color: #666; /* Màu chữ danh sách */
    list-style: none;
}

.sample-code li,
.theory li {
    margin: 5px; /* Khoảng cách dưới mỗi mục danh sách */
}

.screen {
    width: 100%;
    height: 438px;
    top: 30px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 0;
}

.example-illustration {
    display: block;
    width: 720px;
    height: 418px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.example {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.example-list {
    background-color: white;
    margin: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 418px;
    top: 0;
    right: 0;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.example-list li {
    display: block;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    width: 190px;
    height: auto;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.example-list li:hover {
    cursor: pointer;
}

.algorythm_input {
    display: inline-block;
    font-size: 16px;
    color: black;
    padding: 10px 30px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

.algorythm_input p {
    display: inline-block;
    line-height: 30px;
    color: black;
}

.algorythm_input .text {
    background-color: white;
    color: black;
}

#n_queens_output {
    display: none;
}

.algorythm_output {
    display: block;
    font-size: 36px;
    width: 100%;
    height: 369px;
    position: absolute;
    top: 50px;
    box-sizing: border-box;
}

#n_queens_total_result {
    display: inline-block;
    color: black;
    font-size: 16px;
    padding-left: 30px;
}

#chess_board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: red;
    font-size: 0;
    padding: 2px;
}

.board_cell_black {
    display: inline-block;
    background-color: black;
    box-sizing: border-box;
}
.board_cell_white {
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
}

.roll {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.roll div {
    display: inline-block;
    text-align: center;
}

/* Sudoku */

#sudoku-noti {
    display: none;
    /* display: inline-block; */
    color: red;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    
}

#sudoku-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    background-color: black;
    padding: 1px;
    font-size: 0;
}

#sudoku-table p {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #555;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center; /* Căn giữa chữ */
    line-height: 30px; /* Căn giữa chữ theo chiều dọc */
}
#sudoku-table p:hover {
    background-color: rgb(199, 245, 245);
}
/* Viền dày hơn cho các vùng 3x3 */
#sudoku-table p:nth-child(27n+1),
#sudoku-table p:nth-child(27n+2),
#sudoku-table p:nth-child(27n+3),
#sudoku-table p:nth-child(27n+4),
#sudoku-table p:nth-child(27n+5),
#sudoku-table p:nth-child(27n+6),
#sudoku-table p:nth-child(27n+7),
#sudoku-table p:nth-child(27n+8),
#sudoku-table p:nth-child(27n+9),
#sudoku-table p:nth-child(81n+1) {
    border-top: 2px solid black;
}
#sudoku-table p:nth-child(3n+1),
#sudoku-table p:nth-child(6n+1),
#sudoku-table p:nth-child(9n+1),
#sudoku-table p:nth-child(27n+1),
#sudoku-table p:nth-child(27n+4),
#sudoku-table p:nth-child(27n+7) {
    border-left: 2px solid black;
}
#sudoku-table p:nth-child(27n+9),
#sudoku-table p:nth-child(27n+18),
#sudoku-table p:nth-child(27n+27) {
    border-right: 2px solid black;
}
#sudoku-table p:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 2px solid black; 
}


#sudoku-sample-data {
    display: inline-block;
    color: black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 50px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#sudoku-clear {
    display: inline-block;
    color: black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 60px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#sudoku-clear:hover,
#sudoku-sample-data:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 170);
}

#sudoku-num-list {
    display: block;
    width: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#sudoku-num-list li {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#sudoku-num-list li:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 170);
}

#sudoku-solve {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#sudoku-solve:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 170);
}

/* Nguoi du lich */

#tsp-total-city {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}
#tsp-roll {
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 30px;
    font-size: 0;
    border-radius: 5px;
    border: 1px solid rgb(41, 170, 170);
}
#tsp-roll-down {
    display: inline-block;
    text-align: center;
    width: 33px;
    font-size: 26px;
}
#tsp-roll-num {
    display: inline-block;
    text-align: center;
    width: 33px;
    font-size: 20px;
}
#tsp-roll-up {
    display: inline-block;
    text-align: center;
    width: 33px;
    font-size: 20px;
}
#tsp-roll-down:hover,
#tsp-roll-up:hover {
    cursor: pointer;
}

#tsp-cost-matrix {
    width: 250px;
    height: 250px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    font-size: 0;
    border: 1px solid black;
}
.tsp-cell {
    display: inline-block;
    width: 62.5px;
    height: 62.5px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
}
input.tsp-cell::placeholder {
    color: black; 
}

#tsp-solve {
    display: inline-block;
    color: black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 50px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#tsp-clear {
    display: inline-block;
    color: black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 60px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#tsp-solve:hover,
#tsp-clear:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 170);
}

#tsp-result {
    color: black;
    display: inline-block;
    width: 500px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(169, 0, 0, 0.357);
}
#tsp-result div{
    line-height: 25px;

}

/* binary search */

#binary-search-text-input,
#binary-search-solve,
#binary-search-sample-data {
    display: inline-block;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(41, 170, 170);
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
}
#binary-search-solve:hover,
#binary-search-sample-data:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 170);
}
#binary-search-x-input {
    display: inline-block;
    width: 20px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(41, 170, 170);
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
}

#binary-search-input {
    display: flex;
    justify-content: center; /* Căn giữa các phần tử theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    padding: 10px;
    height: 58px;
    box-sizing: border-box;
}

.binary-search-list {
    display: none;
    font-size: 0;
    width: 700px;
    height: 50px;
    padding: 10px 0 10px 0;
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.binary-search-list li {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.binary-search-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(41, 170, 170);
    margin: 1px;

}

#binary-search-progress {
    display: block;
    height: 250px;
    overflow-y: auto;
}

#binary-search-result {
    display: none;
    width: 310px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(41, 170, 170);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    line-height: 18px;
    font-weight: bold;
}
