* {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none;
}

.modal {
    /* display: none; */
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 179, 179, 0.7);
    align-items: center;
    justify-content: center;
}
.modal-container {
    width: 350px;
    min-height: 300px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.modal-header {
    text-align: center;
    padding: 20px;
}
.modal-body{
    padding: 10px 40px 30px 40px;
}
.modal-label {
    color: black;
    font-weight: lighter;
    margin-bottom: 5px;
}
.modal-input {
    width: 100%;
    padding: 5px;
    border-color: rgb(8, 143, 143);
    margin-bottom: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}
input::placeholder {
    color: #ccc; 
    opacity: 1; 
}
.modal-button {
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(8, 143, 143);
}
.modal-button:hover {
    cursor: pointer;
}
#guest {
    text-align: right;
    color: #551A8B;
}
#guest:hover {
    cursor: pointer;
}
#modal-noti {
    display: none;
    color: red;
}

.header {
    position: fixed;
    font-size: 46px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    background-color: rgb(8, 143, 143);
    width: 100%;
    height: 100px;
}

.menu {
    top: 30px;
    width: 40px;
    height: 40px;
    float: right;
    line-height: 100px;
    margin-right: 30px;
    position: relative;
}
.menu:hover {
    cursor: pointer;
}
.icon-menu {
    width: 100%;
    height: 8px;
    background-color: white;
    margin-top: 5px;
}

.sub-menu {
    display: none;
    min-width: 220px;
    min-height: 170px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.sub-menu ul {
    display: block;
}
.sub-menu li {
    height: 50px;
    color: black;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
    line-height: normal;
}
.nav {
    border-bottom: 1px solid #ccc;
}
.sub-menu .nav:hover {
    background-color: rgb(202, 229, 229);
}
.sub-menu .last-nav:hover {
    border-bottom-right-radius: 20px;
    background-color: rgb(202, 229, 229);
}

.sub-menu .user {
    height: 70px;
    border-top-left-radius: 20px;
    background-color: rgba(8, 143, 143, 0.7);
}
.user img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 15px;
    left: 15px;
}

.user h3 {
    display: inline-block;
    line-height: 40px;
    position: absolute;
    top: 15px;
    left: 55px;
    margin-left: 20px;
}
.sub-menu .user:hover {
    background-color: rgb(202, 229, 229);
    border-top-left-radius: 20px;
}

.setting {
    display: none;
    /* display: flex;
    position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 179, 179, 0.4);
    align-items: center;
    justify-content: center;
}
.setting-container {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    position: relative;
}
.setting-nav {
    display: inline-block;
    width: 200px;
    height: 300px;
    background-color: rgba(245, 245, 245, 0.9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    position: absolute;
}
#setting-label {
    width: 200px;
    height: 70px;
    color: #333333;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
}
#setting-list {
    list-style: none;
    padding: 10px;
}
#setting-list li {
    height: 30px;
    color: #333333;
    line-height: 30px;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
#setting-list li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}
.setting-detail {
    display: inline-block;
    color: #666666;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-color: rgba(240, 240, 240, 0.9);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    right: 0;
    padding: 30px;
}
.setting-detail li {
    display: block;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#theme-detail {
    display: none;
}
.theme-detail-color {
    display: inline-block;
    float: right;
    margin: 7.5px 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
}
.theme-detail-color:hover {
    cursor: pointer;
}
#theme-detail-color-1 {
    background-color: gray;
}
#theme-detail-color-2 {
    background-color: pink;
}
#theme-detail-color-3 {
    background-color: rgb(8, 143, 143);
}
#theme-detail-color-4 {
    background-color: red;
}
#theme-detail-color-5 {
    background-color: blue;
}

.main {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    flex-wrap: wrap;         /* Cho phép các thẻ div tự động xuống dòng */
    height: 100vh;           /* Chiều cao của container bằng với chiều cao của màn hình */
    gap: 30px;               /* Khoảng cách giữa các thẻ div */
    padding: 200px 50px 200px 50px;
    box-sizing: border-box;
    background-color: rgba(8, 143, 143, 0.3);
}
.cell {
    display: none;
    flex: 1 1 20%;           /* Mỗi thẻ div sẽ chiếm 30% chiều rộng container */
    max-width: 30%;          /* Giới hạn tối đa chiều rộng mỗi thẻ div là 30% */
    min-width: 100px;        /* Giới hạn tối thiểu chiều rộng mỗi thẻ div là 100px */
    height: 100px;
    border-radius: 30px;
    border: 3px solid white;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 30px;
    justify-content: center;
}
.cell:hover {
    border: 3px solid rgb(8, 143, 143);
    cursor: pointer;
    color: rgb(8, 143, 143);
    font-size: large;
}

/* Edit */
.edit-body {
    width: 1000px;
    height: 468px;
    box-sizing: border-box;
    position: relative;
}

.edit-list {
    background-color: white;
    margin: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 448px;
    top: 0;
    right: 0;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-list li {
    display: block;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    width: 190px;
    height: auto;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.edit-list li:hover {
    cursor: pointer;
}

.edit-screen {
    display: block;
    width: 720px;
    height: 448px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.ex-name,
#theory-title-1,
#theory-title-2,
#theory-title-3,
#theory-title-4 {
    display: block;
    width: 200px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none;
    box-sizing: border-box;
}
.ex-depcription,
#theory-p-1,
#theory-p-2,
#theory-p-3,
#theory-p-4,
#theory-p-5,
#theory-p-6,
#theory-p-7,
#theory-p-8 {
    display: block;
    width: 700px;
    height: 100px;
    overflow: auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none;
    box-sizing: border-box;
}

.edit-form {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.edit-header {
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(8, 143, 143);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

#edit-push {
    all: unset;
    display: inline-block;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#edit-back {
    display: inline-block;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#edit-back:hover,
#edit-push:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(8, 143, 143);
}